p {
background-color: black;
text-align: center;
color: blanchedalmond;
border:5px solid brown;
padding-top: 20px;

}

.akshaya{
    
    padding: 10px;
    text-align: center;
    background-color: blueviolet;
    color: azure;
    margin-top: 5px;
    border-radius: 10px;
}